:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.chart-header {
  margin: 1em 0em 1em 4em;
}

label {
  margin-right: 10px;
}

.chart-select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #888;
  background-color: #fff;
  font-size: 14px;
  transition: border-color 0.3s;
}

.chart-select:focus {
  outline: none;
  border-color: #8884d8;
}

.disclaimer {
  max-width: 1000px;
  margin: 40px;
  font-size: smaller;
}
